stages:
  - deploy_dev
  - deploy_stage
  - deploy_prod

deploy_prod:
  stage: deploy_prod
  script:
    - echo "Deploying dist/ contents to /var/www/html/resurvey_preprod ..."
    - rsync -avz --delete dist/ opc@172.16.3.235:/var/www/html/resurvey_preprod/
    - ssh -v opc@172.16.3.235 "sudo chmod -R 755 /var/www/html/resurvey_preprod/assets"
    - echo "Deployment successful for production!!!!!"
  only:
    - main

deploy_stage:
  stage: deploy_stage
  script:
    - echo "Deploying dist/ contents to /var/www/html/resurvey ..."
    - rsync -avz --delete dist/ opc@172.16.3.214:/var/www/html/resurvey/
    - ssh -v opc@172.16.3.214 "sudo chmod -R 755 /var/www/html/resurvey/assets"
    - echo "Deployment successful for stage!!!!!"
  only:
    - stage

deploy_dev:
  stage: deploy_dev
  script:
    - echo "Success"
  only:
    - dev



