stages:
  - deploy_dev
  - deploy_stage
  - deploy_prod

deploy_prod:
  stage: deploy_prod
  script:
    - echo "Success"
  only:
    - main

deploy_stage:
 script:
    - echo "Deploying dist/ contents to /var/www/html/resurvey ..."
    # Rsync only the CONTENTS of dist/ (not the dist folder itself)
    - rsync -avz --delete dist/ opc@172.16.3.214:/var/www/html/resurvey_test/
    - ssh -v opc@172.16.3.214 "sudo chown -R apache:apache /var/www/html/resurvey_test"
    - echo "Deployment successful for stage!"
only:
    - stage

deploy_dev:
  stage: deploy_dev
  script:
    - echo "Success"
  only:
    - dev



